@*FRONT DESK - TRANSFERS OR PHONE ARRIVAL*@

<meta http-equiv="refresh" content="300" />
@model IEnumerable<MedTimers.Models.AllEdit>


@{
    ViewData["Title"] = "MedTimers";
    Layout = "";

}
<link rel="shortcut icon" href="~/Images/clock.PNG" />
<link rel="stylesheet" href="~/css/StyleSheet.css"/>

@*User access based on account type
    1 - Administrator
    5 - Front Desk   
*@
@if (ViewBag.userType == "5" || ViewBag.userType == "1")
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--JQUERY-->
        <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>

        <!--BOOTSTRAP-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
       
        <!--Fonts-->
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

        <!--Sweet Alert-->
        <script src="https://unpkg.com/sweetalert@2.1.2/dist/sweetalert.min.js"></script>


        <script src="~/js/Lobby.js"></script>
        <link rel="stylesheet" media="screen and (max-width: 1300px)" href="~/css/SmallScreen/site.css" />
        <link rel="stylesheet" media="screen and (max-width: 1300px)" href="~/css/SmallScreen/Lobby.css" />

        <link rel="stylesheet" media="screen and (min-width: 1301px)" href="~/css/Widescreen/site.css" />
        <link rel="stylesheet" media="screen and (min-width: 1301px)" href="~/css/Widescreen/Lobby.css" />


    </head>

    <body>

        @*Default datetime for time stamps *@
        @{ 
            DateTime date = new DateTime(2000, 01, 01, 12, 0, 0);
        }


        <div class="row headTitle">
            <div class="col-sm-12 titlebox" style="background-color:#43444D; ">
               @*Application title*@
                <p class="medTitle">MedTimers</p>

            </div>
        </div>


        <div class="patientContainer">
            <div class="row">               
                <div class="col-4 newPatient">
                    <div class="container-fluid">
                        <h4 class="newPatientTitle">Phone Assessment or Transfer</h4>
                        <div class="col-md-4">
                            @*Update arrival time of transfer or phone*@
                            <form asp-controller="Home" asp-action="UpdateLobbyTransfer" method="post" id="AddPatientForm">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="row mb-3">
                                    <label for="inputName" class="col-sm-4 col-form-label">Name</label>
                                    <div class="col-sm-6">
                                        <select name="PatientID" class="form-select disabled enable" id="fullNames">
                                            <option>Select</option>
                                            @*Populate list of transfers or phone patients that have not arrived to list*@
                                            @foreach (var item in Model)
                                            @*All patients with an arrival type of Transfer or Phone*@
                                                if (item.Track_ArrivalType == "Transfer" || item.Track_ArrivalType == "Phone")
                                                {
                                                    @*All patients will a null arrival time, minimum date time, or datetune equals default date*@
                                                    if (item.Track_InitialArrival == null || item.Track_InitialArrival == DateTime.MinValue || item.Track_InitialArrival == date)
                                                    {
                                                        <option value="@item.PatientID">@Html.DisplayFor(modelItem => item.lobbyName)</option>
                                                    }
                                                }
                                        </select>
                                    </div>

                                </div>
                                <div class="row mb-3">
                                    <label name="Track_InitialArrival" class="col-sm-4 col-form-label" for="gridCheck1">Arrival Time</label>
                                    <div class="col-sm-8">
                                        @*Display Checkbox to populate current date and time*@
                                        <input type="checkbox" class="form-check-input" id="ArrivalCheckBox" style="margin-top: 14px;">
                                         <p id="ArrivalcheckboxClick" style="margin-left: 29px; font-style: italic; font-size: 11px; margin-top: -15px;">Check box to add date/time</p>
                                        <textarea readonly name="Track_InitialArrival" style="resize:none; height: 37px; width:236px; overflow:hidden" id="lblTransferArrivalDateTime" class="hide"></textarea>
                                    </div>
                                </div>


                                    <div class="NewWalkBtns">
                                        <button id="submitLobby" type="submit" class="btn btn-dark lobbyPatientSubmitBtn"  style="width: 29%; background-color: #43444D;">Submit</button>                                    
                                        <a class="lobbyPatientCancelBtn" asp-action="Lobby">Cancel</a>
                                    </div>

                            </form>


                        </div>
                    </div>
                </div>          
            </div>
        </div>


        <!--Bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </body>
</html>
}

@*If user does not have access to this page, display error message*@
else
{
<div style="margin-left:44%; margin-top:8%">
      <div class='error-circle'>
        <div style="font-family: sans-serif;">X</div>
      </div>

      <h3 style="text-align:center; font-size:29px; margin-left:-84%; font-family: sans-serif;">Access Denied</h3>
      <p style="text-align:center; margin-left: -83%; font-size: 19px; font-family: sans-serif;">You do not have permission to view this page.</p>
      <p style="text-align:center; margin-left: -83%; font-size: 19px; font-family: sans-serif;">Please check your credentials and try again</p>
</div>
}
